.category {
    display: flex;
    padding-left: 230px;
    overflow-x: hidden;

    @media (max-width: 912px) {
        padding-left: 10px;
    }

    .mobileNavbar {
        position: fixed;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100%;

        @media (min-width: 912px) {
            display: none;
        }
    }

    .hide {
        display: none;
    }

    .menuIcon {
        position: fixed;
        right: 25px;
        top: 25px;
        z-index: 5;
    }
}