.about {
    display: flex;
    padding: 70px 0;
    margin: 0 auto;
    width: 840px;

    @media (max-width: 912px) {
        flex-direction: column;
    }

    .artistPictures {
        @media (max-width: 912px) {
            padding-top: 50px;
        }

        .picture {
            width: 418px;
            margin-bottom: 30px;

            @media (max-width: 912px) {
                width: 95%;
                margin: 0 auto;
                margin-bottom: 30px;
            }
        }
    }

    .artistDescription {
        font-size: 14px;
        padding-left: 10px;
        line-height: 1.6em;
        text-transform: none;
        letter-spacing: .02em;
        padding-left: 34px;

        h2 {
            font-size: 26px;
        }

        @media (max-width: 912px) {
            padding-left: 0;
            max-width: 95%;
            margin: 0 auto;
        }
    }
}